<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>chatgpt-bin</vendor>
  <vendor_url>https://openai.com/codex/</vendor_url>
  <action id="org.chatgpt-bin.install-package">
    <description>Install a reviewed ChatGPT desktop update</description>
    <message>Authentication is required to install a reviewed ChatGPT desktop update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/chatgpt-bin/install-package</annotate>
  </action>
</policyconfig>
